{% extends "public/templates/public_template.html" %}
{% import "macros/input_macros.html" as im %}

{% block title %}Jinra{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Jinra</h1>
            <hr>

            <h4>Looping through an iterable</h4>
            <hr>

            <strong class="d-block mb-3">Programming languages</strong>
            <ul>
                {% for lang in langs %}
                <li>{{ loop.index }} - {{ lang }}</li>
                {% endfor %}
            </ul>
            <h4>Looping key/value pairs in a dict</h4>
            <hr>

            <strong class="d-block mb-3">Friends & ages</strong>
            <ul>
                {% for name, age in friends.items() %}
                <li>{{ name }}: {{ age }}</li>
                {% endfor %}
            </ul>

            <h4>Calling functions</h4>
            <hr>
            <p>{{ repeat("Jinra is great!", 10) }}</p>

            <h4>Acessing class attributes</h4>
            <hr>
            <p>{{ my_remote.description }}</p>

            <h4>Class methods</h4>
            <hr>
            <p>{{ my_remote.pull() }}</p>

            <h4>Unpack variables</h4>
            <hr>
            {% set foo, bar = colors %}
            <p>{{ foo }}</p>
            <p>{{ bar }}</p>

            <h4>Create a class</h4>
            <hr>
            {% set new_repo = GitRemote(
                    name="Learning Flask",
                    description="Learn the Flask web framework for python",
                    domain="https://github.com")
            %}
            <p>{{ new_repo.description }}</p>

            <h4>Conditional if</h4>
            <hr>
            {% if cool %}
                <p>Cool = {{ cool }}</p>
            {% endif %}

            <h4>Conditional if/elif</h4>
            <hr>
            {% if my_age < 18 %}
            <p>No entry</p>
            {% elif my_age <= 25 %}
            <p>You may enter</p>
            {% else %}
            <p>Entry denied. You're not cool enough</p>
            {% endif %}

            <h4>Filter & conditionals</h4>
            <hr>
            {% if langs|length > 2 %}
                {% for lang in langs %}
                    {% if lang == "Python" %}
                        <p>{{ lang|upper }}</p>
                    {% else %}
                        <p>{{ lang|reverse }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h4>Join filter</h4>
            <hr>
            <p>Upjoined: {{ langs }}</p>
            <p>Joined: {{ langs|join(", ") }}</p>

            <h4>Custom filters</h4>
            <hr>
            <p>{{ date|clean_date }}</p>

            <h4>Marked as safe</h4>
            <hr>
            {{ suspicious|safe }}

            <h4>Macros</h4>
            <hr>
            <form action="#" method="POST">
                {{ im.input(label="Name", id="name", name="name", placeholder="Enter your name") }}
                {{ im.input(label="Email", type="email", id="email", name="email", placeholder="Enter your email") }}
                {{ im.input(label="Password", id="password", name="password", placeholder="Enter your password") }}
            </form>

            {% raw -%}
                <ul>
                {% for item in seq %}
                    <li>{{ item }}</li>
                {% endfor %}
                </ul>
            {% endraw %}

        </div>
    </div>
</div>

{% endblock %}
